html, body {
    width: 100%;
    height: 100%;
}

.content_block {
    width: 100%;
    margin-top: $margin-sm;
    padding: $margin-xs;

    @media(min-width: $screen-md){
        padding-left: 5rem;
        padding-right: 5rem;
    }

    & a {
        margin-bottom: $margin-sm;
    }
}

.scanned_image-wrapper{
    padding-top: $margin-sm;
    padding-bottom: $margin-sm;
    background-color: lightgray;
    -moz-box-shadow:    inset  0  8px 8px -8px #696868,
    inset  0 -8px 8px -8px #696868;
    -webkit-box-shadow: inset  0  8px 8px -8px #696868,
    inset  0 -8px 8px -8px #696868;
    box-shadow:        inset  0  8px 8px -8px #696868,
    inset  0 -8px 8px -8px #696868;


}
.scanned_image{
    width: 25%;
    min-width: 270px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.63);
    box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.63);
    & img {
        width: 100%;
    }
}

.header_wrapper{
    justify-content: space-between;
}

.image_upload {
    width: 80%;
    margin-top: $margin-sm;
    margin-left: auto;
    margin-right: auto;
    background-color: $white;
    padding: $margin-sm;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.63);
    box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.63);
}

h2{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $margin-xsm;
    text-align: center;

    @media(min-width: $screen-lg) {
        text-align: left;
        margin-left: 0;
    }
}

.image_output{

    & p, h3 {
        padding: $margin-xxs $margin-sm $margin-xxs $margin-sm;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.63);
        -moz-box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.63);
        box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.63);

        @media(min-width: $screen-lg) {
            margin-left: 0;
        }
    }

    & .image_output-center {
        text-align: center;
        border-radius: 10px;
        @media(min-width: $screen-lg) {
            text-align: left;
        }
        & a {
            @media(min-width: $screen-lg) {
                width: 80%;

            }
        }
    }
}
.calender{

    iframe {
        width: 100%;
        min-height: 500px;
    }
}
